body {
  font-family: monospace;
  align-items: center;
  justify-content: flex-start;
}
.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  font-size: 50px;
}
